body {
  margin: 10% 20% 20% 20%;
  padding: 0;
  background-color: #333;
  color: snow;
  text-align: center;
  font-size: 100%;
}

span {
  font-size: 6.5em;
  margin: 0;
  text-align: center;
  font-weight: bold;
}

hr {
  margin-top: 0;
}

.menor {
  color: tomato;
}

.mayor {
  color: lightgreen;
}

.cero {
  color: snow;
}

button {
  font-size: 35px;
  padding: 10px;
  margin: 1rem 1.5rem;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
  background-color: #333;
  color: snow;
}

@media only screen and (max-width: 900px) {
  span {
    font-size: 3.3em;
  }
  
  button{
    font-size: 35px;
    padding: 5px;
  }
}

@media only screen and (max-width: 450px) {
  span {
    font-size: 2.5em;
  }
  hr{
    margin-bottom: 30%;
  }
  button{
    font-size: 30px;
    padding: 5px;
  }
}


@media only screen and (max-width: 280px) {
  span {
    font-size: 2.0em;
  }
  hr{
    margin-bottom: 30%;
  }
  button{
    font-size: 25px;
    padding: 5px;
  }
}
